*
!.gitignore
!.env
!.htaccess
!.phpunit.result.cache
!.vscode/
!.idea/ 
!storage/logs/laravel.log
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
